.downstyle2{margin:10px auto;border:1px solid #cedebd;background:#fdfefb;height:44px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:10px;overflow:hidden;}
.downstyle2 .img{background-position: 0 0;}
.downstyle2 .pdf{background-position: -40px 0;}
.downstyle2 .doc{background-position: -80px 0;}
.downstyle2 .xls{background-position: -120px 0;}
.downstyle2 .txt{background-position: -160px 0;}
.downstyle2 .audio{background-position: -200px 0;}
.downstyle2 .video{background-position: -240px 0;}
.downstyle2 .ppt{background-position: -280px 0;}
.downstyle2 .exe{background-position: -360px 0;}
.downstyle2 .apk{background-position: -520px 0;}
.downstyle2 .bt{background-position:-440px 0;}
.downstyle2 .fileico{width:35px;height:44px;background: url(../images/fileico.png) -400px 0;float:left;}
.downstyle2 .filecont{float:left;padding:0 0 0 10px; text-indent:0 !important;}
.downstyle2 .filecont .filetit{height:27px;font-size:14px;line-height:25px;letter-spacing:1px;font-family:"Microsoft Yahei";}
.downstyle2 .filecont .filetit span{font-size:12px;color:#999;margin-left:10px;float:left;font-family:arial;letter-spacing:0;}
.downstyle2 .filecont .filetit a{color:#666;text-decoration:none;display:block;max-width:290px;overflow:hidden;white-space:nowrap;float:left;text-overflow: ellipsis;}
.downstyle2 .filecont .filetit a:hover{text-decoration:underline;}
.downstyle2 .filecont .fileaq{height:15px;background:url(../images/fileaq.png) no-repeat;padding-left:18px;font-size:12px;color:#73B010;letter-spacing:0;line-height:14px;font-family:arial;}
.downstyle2 .down_2{float:right;}
.downstyle2 .down_2 a{width:130px;height:42px;display:block;background:url(../images/down_2.jpg) no-repeat -2px -1px;overflow:hidden;}
.downstyle2 .down_2 a:hover{background:url(../images/down_2.jpg) no-repeat -2px -46px;}
/*****加上中文 不乱码******/